@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");

:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

.titleText {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  padding-top: 50px;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.map {
  height:100vh;
  width:200vh;
}

.Headings{
  font-family: 'Mukta', sans-serif;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.dest{
  animation: blink .7s;
  animation-iteration-count: 5;
}

.UDRedCircle{
  width: 35px;
  z-index: 1;
  position: fixed;
  margin-top: 90px;
  margin-left: 60px;
  animation: blink .7s;
  animation-iteration-count: infinite;
}

.UDGreyCircle{
  width: 40px;
  z-index: 1;
  position: fixed;
  margin-top: 90px;
  margin-left: 60px;
}

.IEDGreyCircle{
  width: 40px;
  z-index: 1;
  position: fixed;
  margin-top: 90px;
  margin-left: 190px;
}

.IEDRedCircle{
  width: 35px;
  z-index: 1;
  position: fixed;
  margin-top: 90px;
  margin-left: 190px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.homeMap{
  width: 100vw;
}

.inputForm{
  margin-top: 240px;
  position: fixed;
  z-index: 1;
  width: 100px;
}

.inputTextStyle{
  width: 80px;
  margin-left: 40px;
}

.progress-bar {
  position: fixed;
  margin-left: 600px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  border: 3px solid #333;
  bottom: 10px;
  z-index: 1;
  background: white;
}

.filler {
  background: #49ff00;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  bottom: 0px;
  z-index: 1;
}

.speedometer {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  margin-left: 300px;
  height: 200px;
}

.temperature {
  position: fixed;
  z-index: 1;
  margin-left: 900px;
  bottom: 0px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 20px;
  flex-direction: row;
}